@import url(styles/controller.css);
@import url(styles/marioStyles.css);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  margin-top: 50px;
  min-width: 320px;
  min-height: 100vh;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid yellow 2px;
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 70px;
    position: relative;
}

.logo { 
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.navbar {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.category {
    width: 90vw;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  clip-path: polygon(
    50% 50%, 
    100% 0%, 
    100% 100%
  );
  mask: radial-gradient(circle at center, yellow 100%, transparent 100%);
}

.game {
    /* border: solid black 5px; */
    border-radius: 10px;
    width: 90vw;
    height: 900px;
    position: relative;
}

.pacman {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #F2D648;
  position: relative;
  margin-top: 20px;
}

.pacman__eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
  background: #333333;
}

.pacman__mouth {
  background: #242424;;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  /* animation-name: eat; */
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
   clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
   clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

.bow {
    position: absolute;
    top: -30px;
    left: 20px;
}

.movieCard {
    position: relative;
    border: solid white 2px;
    border-radius: 10px;
    width: 20vw;
    height: 175px;
    overflow: hidden;
    background-color: black;
}

.movieCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.movieCard:hover::after {
  opacity: 0.4; /* Adjust darkness */
}

.movieCardContent {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  margin-bottom: 0px;
  width: 100%;
  padding-right: 10px;
  font-size: calc(20px + 0.5vw);
  max-width: 100%;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  display: inline-block;
  font-family:'Courier New', Courier, monospace
}

.playButton {
    position: absolute;
    background-color: transparent;
    border: transparent;
    z-index: 1;
}

.buyButton {
    position: absolute;
    background-color: transparent;
    border: transparent;
    z-index: 100;
    border-radius: 2px;
    border: solid white 2px;
    right: 10px;
    bottom: 10px;
}

/* style={{display: 'flex', alignItems: 'center', justifyContent: 'center', backgroundColor: 'rgba(0,0,0,0)', border: 'transparent', zIndex: '3'}} */

#cart {
    right: -15px;
    top: -15px;
    scale: 1.2;
    background-color: black;
    border: white solid 2px;
    border-radius: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    position: absolute;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    position: relative;
}

.cartItem img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50px;
    border: solid white 2px;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border: solid yellow 2px;
    width: 55vw;
    padding: 30px;
}